.b-modal {
	.modal-content {
		border: none;
		box-shadow: none;
	}
}

.b-modal__close {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 26px;
	height: 26px;
	background: left top no-repeat url("../img/modal-close.png");
	z-index: 100;
	cursor: pointer;
}

.b-modal__close_outer {
	right: -12px - 26px;
}

.b-modal__icon {
	margin-top: 20px;
	margin-bottom: 0px;
}

.b-modal__title {
	font-size: 34px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin: 15px 0 20px;
}

.b-modal__form {

	.form-control {
		border-width: 2px;
		height: 44px;
		padding-top: 11px;
		padding-bottom: 11px;
		box-shadow: none !important;
		font-size: 24px;
	}
	.btn {
		font-size: 18px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.btn-primary {
		border-bottom: 2px solid #4a93bc;
	}
}

.b-modal__result {
	margin: 30px 0 10px;
	text-align: center;
}

.b-modal__result-title {
	font-size: 24px;
	color: #000;
	margin-bottom: 15px;
}

.b-modal__result-title_error {
	color: #da0202;
}

.b-modal__result-text, .b-modal__result-text p {
	font-size: 18px;
	color: #000;
}

.b-modal__download-link {
	font-size: 18px;
	color: #013b9e;
	padding-left: 44px;
	line-height: 30px;
	display: inline-block;
	margin-right: 5px;
}

.b-modal__download-link_icon-doc {
	background: left top no-repeat url("../img/document-icons/icon-doc.png");
}

.b-modal__download-link_icon-xls {
	background: left top no-repeat url("../img/document-icons/icon-xls.png");
}

.b-modal__download-link_icon-ppt {
	background: left top no-repeat url("../img/document-icons/icon-ppt.png");
}

.b-modal__download-link_icon-pdf {
	background: left top no-repeat url("../img/document-icons/icon-pdf.png");
}

.b-modal__download-link_icon-img {
	background: left top no-repeat url("../img/document-icons/icon-img.png");
}

.b-modal__body_no-padding {
	padding: 0;
}