@section-height: 684px;
@section-title-height: 80px;

.b-section {
	height: @section-height;
	position: relative;
	background-color: #fff;
	width: 100%;
	top: 0;
	left: 0;

	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}

.b-section-1 {
	background: #003465;
	z-index: 100;
	top: 0;
	overflow-x: hidden;
}

.b-section-2 {
	background: #fff1e1 left bottom repeat-x url("../img/section-2-background.png");
	z-index: 101;
	//top: @section-height;
}

.b-section-3 {
	background: #fff1e1 left bottom repeat-x url("../img/section-2-background.png");
	z-index: 102;
	top: @section-height*2;
	overflow: hidden;
}

.b-section-4 {
	background-color: #4cb74a;
	z-index: 103;
	top: @section-height*3;
	overflow: hidden;
	//height: 2044px + 80px;
	height: 100vh;
}

.b-section-5 {
	background-color: #4cb74a;
	z-index: 104;
	top: @section-height*4;
	overflow: hidden;
	height: 100vh;
}

.b-section-6 {
	background-color: #00aded;
	z-index: 105;
	top: @section-height*5;
	overflow: hidden;
	height: 100vh;
}

.b-section-7 {
	background-color: #f6f6f6;
	z-index: 106;
	top: @section-height*6;
	overflow: hidden;
	height: 100vh;
}

.b-section-8 {
	background-color: #d5e5f4;
	z-index: 107;
	top: @section-height*7;
	overflow: hidden;
	height: 100vh;
}

.b-section-9 {
	background-color: #e0ffe6;
	z-index: 108;
	top: @section-height*8;
	overflow: hidden;
	height: @section-height;
}

.b-section-10 {
	background-color: #e0ffe6;
	z-index: 109;
	top: @section-height*9;
	overflow: hidden;
	height: @section-height;
}

@section-11-height: @section-height + 50px;

.b-section-11 {
	background-color: #fff;
	z-index: 110;
	top: @section-height*10;
	overflow: hidden;
	height: @section-11-height;
}

@section-12-height: 980px;

.b-section-12 {
	background-color: #fff;
	z-index: 111;
	top: @section-height*11;
	overflow: hidden;
	//height: 100vh;
	height: @section-12-height;
	//min-height: 979px;
}

@section-13-height: 265px*2 + 2px + @section-title-height;

.b-section-13 {
	background-color: #fff;
	z-index: 112;
	top: @section-height*12;
	overflow: hidden;
	height: @section-13-height;
}

@section-14-height: @section-height;

.b-section-14 {
	background-color: #fff;
	z-index: 113;
	top: @section-height*13;
	overflow: hidden;
	height: auto;
}

.b-section-1__content {
	position: relative;
	padding: 0 40px;
	height: @section-height;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
}

.b-section-1__earth {
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 1px;
	height: 1px;

	&:after {
		position: absolute;
		bottom: 0;
		left: -751px;
		width: 1558px;
		height: 341px;
		background: left top no-repeat url("../img/earth2.png");
		content: '';
	}
}

.b-section-1__logo {
	margin-top: 20px;
	display: inline-block;
}

.b-section-1__title {
	font-size: 35px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.05em;
	text-align: center;
	line-height: 1.2;
	margin-top: 50px;
}

.b-section-1__cta-link {
	font-size: 18px;
	color: #fff !important;
	text-transform: uppercase;
	font-family: @font-family-intro-cond-light-free;
	line-height: 29px;
	padding-right: 40px;
	margin-top: 40px;
	background: right center no-repeat url("../img/play-video-button.png");
	display: inline-block;
}

.b-section-1__robot-1 {
	height: 227px;
	width: 113px;
	background: left top no-repeat url("../img/55.svg");
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -227px/4;
}

.b-section-1__man-1 {
	width: 60px;
	height: 100px;
	background: left top no-repeat url("../img/66.svg");
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: 85px;
}

.b-section-1__man-1-balloon {
	position: absolute;
	bottom: 100%;
	left: 100%;
	background: #fff;
	padding: 14px 29px 8px;
	margin-left: 10px;
	margin-bottom: 22px;
	min-width: 50px;
	min-height: 50px;
	font-size: 18px;
	width: 250px;
	line-height: 1.3;
}

.b-section-1__man-1-balloon-arrow {
	position: absolute;
	top: 100%;
	left: -22px;
	width: 43px;
	height: 35px;
	margin-top: -16px;
}

.b-section__title {
	line-height: @section-title-height;
	height: @section-title-height;
	background: #fff;
	color: #000000;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}

.b-section-2__content {
	position: relative;
	padding: 0 40px;
	height: @section-height - @section-title-height;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
}

.b-section-2__slide-1, .b-section-2__slide-2 {
	position: absolute;
	height: @section-height - @section-title-height;
	width: 100%;
	bottom: 0;
	left: 0;
	overflow: hidden;

	background: #fff1e1 left bottom repeat-x url("../img/section-2-background.png");
}

.b-section-2__slide-1-content, .b-section-2__slide-2-content {
	position: absolute;
	height: @section-height - @section-title-height;
	width: 100%;
	bottom: 0;
	left: 0;
}

.b-section-2__slide-2 {
	//border-top: 3px solid transparent;
}

.b-section-2__image {
	position: absolute;
	bottom: 0;
	left: 50%;
}

.b-section-2__image_slide-1 {
	margin-left: -472px;
	width: 990px;
	height: 429px;
	background: left top no-repeat url("../img/section-2-image.png");
}

.b-section-2__image_slide-2 {
	margin-left: -472px;
	width: 991px;
	height: 435px;
	background: left top no-repeat url("../img/section-2-image2.png");
}

.b-section-2__logo {
	position: absolute;
	width: 286px;
	height: 34px;
	background: left top no-repeat url("../img/logo2.svg");
	top: 34px;
	left: 50%;
	margin-left: -286px/2;
}

.b-section-2__clock {
	position: absolute;
	left: 50%;
	margin-left: 442px;
	top: 303px;
	width: 58px;
	height: 58px;
	background: left top no-repeat url("../img/section-2-clock.png");
}

.b-section-2__balloon {
	position: absolute;
	top: 135px;
	left: 50%;
	margin-left: 162px;
	background: #fff;
	padding: 28px 60px;
	width: 300px;
	min-height: 50px;
	font-size: 24px;
	line-height: 1.3;

	p {
		margin: 0;
	}
}

.b-section-2__balloon-arrow {
	position: absolute;
	top: 100%;
	left: 81px;
	width: 63px;
	height: 113px;
}

.b-section-2__text {
	position: absolute;
	//top: 100px;
	top: auto;
	bottom: 0;
	height: @section-height - @section-title-height - 25px;
	left: 50px;
	width: 300px;
}

.b-section-2__text-title {
	font-size: 24px;
	color: #000000;
	line-height: 1.3;
	margin-bottom: 26px;
}

.b-section-2__text-text, .b-section-2__text-text p {
	font-family: @font-family-helvetica-light;
	font-size: 16px;
	color: #000000;
}

/* Section 3 */
.b-section-3__content {
	position: relative;
	padding: 0 40px;
	height: @section-height - @section-title-height;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
	z-index: 102;
}

.b-section-3__slide-1 {
	position: absolute;
	height: @section-height - @section-title-height;
	width: 100%;
	bottom: 0;
	left: 0;
	overflow: hidden;

	background: #fff1e1 left bottom repeat-x url("../img/section-2-background.png");
}

.b-section-3__slide-1-content {
	position: absolute;
	height: @section-height - @section-title-height;
	width: 100%;
	bottom: 0;
	left: 0;
}

.b-section-3__image {
	position: absolute;
	bottom: 0;
	left: 50%;

	margin-left: -161px;
	width: 761px;
	height: 518px;
	background: left top no-repeat url("../img/section-3-image.png");
}

.b-section-3__clock {
	position: absolute;
	left: 50%;
	margin-left: 442px;
	top: 303px;
	width: 58px;
	height: 58px;
	background: left top no-repeat url("../img/section-2-clock.png");
}

.b-section-3__balloon {
	position: absolute;
	bottom: 267px;
	left: 50%;
	margin-left: 164px;
	background: #fff;
	padding: 20px 30px;
	width: 300px;
	min-height: 50px;
	font-size: 24px;
	line-height: 1.3;

	p {
		margin: 0;
	}
}

.b-section-3__balloon-arrow {
	position: absolute;
	top: 100%;
	left: 81px;
	width: 63px;
	height: 113px;
}

.b-section-3__text {
	position: absolute;
	//top: 100px;
	top: auto;
	bottom: 0;
	height: @section-height - @section-title-height - 100px;
	left: 50px;
	right: 50%;
	margin-right: 156px;
	min-width: 200px;
	//width: 300px;
}

.b-section-3__text-title {
	font-size: 24px;
	color: #000000;
	line-height: 1.3;
	margin-bottom: 26px;
}

.b-section-3__text-text, .b-section-3__text-text p {
	font-family: @font-family-helvetica-light;
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px;
}

.b-section-3__title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 103;
}

/* Section 4 */
.b-section-4__container {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;

	& > .container-fluid, .row, [class^="col-"] {
		height: 100%;
	}
}

.b-section-4__content {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
}

.b-section-4__background-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.b-section-4__background {
	height: 2244px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: center top repeat-y url("../img/road-pattern.png");
	z-index: 105;
}

.b-section-4__background-tree {
	position: absolute;
	left: 50%;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.b-section-4__background-tree_1 {
	width: 198px;
	height: 358px;
	margin-left: 265px;
	top: 94px;
	background-image: url("../img/tree-1.png");
}

.b-section-4__background-tree_2 {
	width: 198px;
	height: 358px;
	margin-left: -616px;
	top: 708px;
	background-image: url("../img/tree-1.png");
}

.b-section-4__background-tree_3 {
	width: 198px;
	height: 358px;
	margin-left: -419px;
	top: 1381px;
	background-image: url("../img/tree-1.png");
}

.b-section-4__background-tree_4 {
	width: 158px;
	height: 276px;
	margin-left: -335px;
	top: 25px;
	background-image: url("../img/tree-2.png");
}

.b-section-4__background-tree_5 {
	width: 158px;
	height: 276px;
	margin-left: 292px;
	top: 1570px;
	background-image: url("../img/tree-2.png");
}

.b-section-4__background-tree_6 {
	width: 178px;
	height: 297px;
	margin-left: -570px;
	top: 220px;
	background-image: url("../img/tree-3.png");
}

.b-section-4__background-tree_7 {
	width: 178px;
	height: 297px;
	margin-left: 360px;
	top: 580px;
	background-image: url("../img/tree-3.png");
	background-size: 70%;
}

.b-section-4__car {
	position: absolute;
	width: 232px;
	height: 783px;

	top: 50%;
	left: 50%;
	margin-top: -783px/2 + 190px/2; // plus height of shadow
	margin-left: -88px;
	background: left top no-repeat url("../img/car.png");
	z-index: 106;
}

.b-section-4__car-roof {
	position: absolute;
	top: -48px;
	left: 0;
	width: 178px;
	height: 416px;
	background: left top no-repeat url("../img/car-roof.png");
}

.b-section-4__balloon {
	position: absolute;
	left: 50%;
	margin-left: 175px;
	top: 50%;
	margin-top: -80px;
	background: #fff;
	padding: 35px 35px;
	width: 270px;
	min-height: 50px;
	font-size: 24px;
	line-height: 1.3;
	z-index: 150;

	p {
		margin: 0;
	}
}

.b-section-4__balloon-arrow {
	position: absolute;
	top: 50%;
	left: -18px;
	width: 18px;
	height: 36px;
	margin-top: -36px/2;
}

@section-text-padding: 25px;

.b-section-4__text,
.b-section-5__text,
.b-section-6__text,
.b-section-7__text,
.b-section-8__text,
{
	position: absolute;
	top: auto;
	bottom: 12%;
	left: @section-text-padding;
	right: 50%;
	margin-right: 0;
	//min-width: 200px;
	//max-width: 350px;
	z-index: 106;
}

.b-section-4__text {
	margin-right: 144px + @section-text-padding;
}

.b-section-4__text-title {
	font-size: 24px;
	color: #ffffff;
	line-height: 1.3;
	margin-bottom: 26px;
}

.b-section-4__text-text, .b-section-4__text-text p {
	font-family: @font-family-helvetica-light;
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 20px;
}

.b-section-4__title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 103;
}

/* Section 5 */
.b-section-5__container {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;

	& > .container-fluid, .row, [class^="col-"] {
		height: 100%;
	}
}

.b-section-5__content {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
}

.b-section-5__background-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.b-section-5__background {
	height: 2420px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	//margin-left: -153px/2;
	z-index: 105;

	&:after {
		content: '';
		position: absolute;
		bottom: 280px;
		left: 50%;
		margin-left: -74px;
		width: 1493px;
		height: 2688px;
		z-index: 106;

		background: left top repeat-y url("../img/runway.png");
	}
}

.b-section-5__background-cloud {
	position: absolute;
	left: 50%;
	background-position: 0 0;
	background-repeat: no-repeat;
	z-index: 107;
}

.b-section-5__background-cloud_1 {
	margin-left: -378px;
	top: 300px;
}

.b-section-5__background-cloud_1-shadow {
	position: absolute;
	top: 83px;
	left: 77px;
	width: 38px;
	height: 73px;
	background: left top no-repeat url("../img/cloud1-shadow.png");
}

.b-section-5__background-cloud_1-cloud {
	position: absolute;
	top: 0;
	left: 0;
	width: 76px;
	height: 147px;
	background: left top no-repeat url("../img/cloud3.png");
}

.b-section-5__background-cloud_2 {
	margin-left: -462px;
	top: 917px;
}

.b-section-5__background-cloud_2-shadow {
	position: absolute;
	top: 72px;
	left: 38px;
	width: 26px;
	height: 47px;
	background: left top no-repeat url("../img/cloud2-shadow.png");
}

.b-section-5__background-cloud_2-cloud {
	position: absolute;
	top: 0;
	left: 0;
	width: 52px;
	height: 94px;
	background: left top no-repeat url("../img/cloud2.png");
}

.b-section-5__background-cloud_3 {
	margin-left: 254px;
	top: 1050px;
}

.b-section-5__background-cloud_3-shadow {
	position: absolute;
	top: 83px;
	left: 77px;
	width: 38px;
	height: 73px;
	background: left top no-repeat url("../img/cloud3-shadow.png");
}

.b-section-5__background-cloud_3-cloud {
	position: absolute;
	top: 0;
	left: 0;
	width: 76px;
	height: 147px;
	background: left top no-repeat url("../img/cloud3.png");
}

.b-section-5__plane {
	position: absolute;
	width: 379px;
	height: 526px;
	margin-left: -379px/2 + 3px;

	top: 0;
	left: 50%;
	z-index: 106;
}

.b-section-5__plane-plane {
	z-index: 108;
	width: 379px;
	height: 526px;
	background: left top no-repeat url("../img/plane.png");
	position: absolute;
	top: 0;
	left: 0;;
}

.b-section-5__plane-shadow {
	z-index: 107;
	width: 189px;
	height: 263px;
	background: left top no-repeat url("../img/plane-shadow.png");
	position: absolute;
	margin-left: -189px/2;
	bottom: -18%;
	right: 0;
}

.b-section-5__balloon {
	position: absolute;
	left: 50%;
	margin-left: 200px;
	top: 35%;
	margin-top: -90px;
	background: #fff;
	padding: 35px 35px;
	width: 320px;
	min-height: 50px;
	font-size: 24px;
	line-height: 1.3;
	z-index: 150;

	p {
		margin: 0;
	}
}

.b-section-5__balloon-arrow {
	position: absolute;
	top: 50%;
	left: -18px;
	width: 18px;
	height: 36px;
	margin-top: -36px/2;
}

.b-section-5__text {
	margin-right: 120px + @section-text-padding;
}

.b-section-5__text-title {
	font-size: 24px;
	color: #ffffff;
	line-height: 1.3;
	margin-bottom: 26px;
}

.b-section-5__text-text, .b-section-5__text-text p {
	font-family: @font-family-helvetica-light;
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 20px;
}

.b-section-5__title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 103;
}

/* Section 6 */
.b-section-6__container {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: left top repeat url("../img/water-bg.png");

	& > .container-fluid, .row, [class^="col-"] {
		height: 100%;
	}
}

.b-section-6__content {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
}

.b-section-6__ship {
	position: absolute;
	width: 136px;
	height: 898px;
	margin-left: -136px/2;

	top: -28%;
	left: 50%;
	z-index: 106;
}

.b-section-6__ship-ship {
	z-index: 108;
	width: 136px;
	height: 898px;
	background: left top no-repeat url("../img/ship.png");
	position: absolute;
	top: 0;
	left: 0;;
}

.b-section-6__ship-shadow {
	z-index: 107;
	width: 264px;
	height: 1038px;
	background: left top no-repeat url("../img/ship-shadow.png");
	position: absolute;
	margin-left: -10px/2;
	top: 0;
	left: 0;
}

.b-section-6__balloon {
	position: absolute;
	left: 50%;
	margin-left: 140px;
	top: 35%;
	margin-top: -90px;
	background: #fff;
	padding: 35px 35px;
	width: 320px;
	min-height: 50px;
	font-size: 24px;
	line-height: 1.3;
	z-index: 150;

	p {
		margin: 0;
	}
}

.b-section-6__balloon-arrow {
	position: absolute;
	top: 50%;
	left: -18px;
	width: 18px;
	height: 36px;
	margin-top: -36px/2;
}

.b-section-6__text {
	margin-right: 80px + @section-text-padding;
}

.b-section-6__text-title {
	font-size: 24px;
	color: #ffffff;
	line-height: 1.3;
	margin-bottom: 26px;
}

.b-section-6__text-text, .b-section-6__text-text p {
	font-family: @font-family-helvetica-light;
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 20px;
}

.b-section-6__title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 103;
}

/* Section 7 */
.b-section-7__container {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: left top repeat url("../img/snow-pattern.jpg");

	& > .container-fluid, .row, [class^="col-"] {
		height: 100%;
	}
}

.b-section-7__content {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
}

.b-section-7__background-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.b-section-7__background {
	height: 2000px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: center top repeat-y url("../img/rails-pattern.png");
	z-index: 105;
}

.b-section-7__background-tree {
	position: absolute;
	left: 50%;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.b-section-7__background-tree_1 {
	width: 115px;
	height: 182px;
	margin-left: 465px;
	top: 94px;
	background-image: url("../img/snow-tree-1.png");
}

.b-section-7__background-tree_2 {
	width: 115px;
	height: 182px;
	margin-left: 265px;
	top: 794px;
	background-image: url("../img/snow-tree-1.png");
}

.b-section-7__background-tree_3 {
	width: 176px;
	height: 288px;
	margin-left: -600px;
	top: 381px;
	background-image: url("../img/snow-tree-2.png");
}

.b-section-7__background-tree_4 {
	width: 176px;
	height: 288px;
	margin-left: -619px;
	top: 1381px;
	background-image: url("../img/snow-tree-2.png");
}

.b-section-7__background-tree_5 {
	width: 177px;
	height: 287px;
	margin-left: 292px;
	top: 1570px;
	background-image: url("../img/snow-tree-3.png");
}

.b-section-7__background-tree_6 {
	width: 177px;
	height: 287px;
	margin-left: -610px;
	top: 870px;
	background-image: url("../img/snow-tree-3.png");
}

.b-section-7__background-tree_7 {
	width: 176px;
	height: 289px;
	margin-left: 360px;
	top: 380px;
	background-image: url("../img/snow-tree-4.png");
}

.b-section-7__background-tree_8 {
	width: 176px;
	height: 289px;
	margin-left: -360px;
	top: 20px;
	background-image: url("../img/snow-tree-4.png");
}

.b-section-7__background-tree_9 {
	width: 162px;
	height: 246px;
	margin-left: 560px;
	top: 1040px;
	background-image: url("../img/snow-tree-5.png");
}

.b-section-7__background-tree_10 {
	width: 162px;
	height: 246px;
	margin-left: -260px;
	top: 1740px;
	background-image: url("../img/snow-tree-5.png");
}

.b-section-7__background-tree_11 {
	width: 115px;
	height: 182px;
	margin-left: -365px;
	top: 1424px;
	background-image: url("../img/snow-tree-1.png");
}

.b-section-7__background-tree_12 {
	width: 115px;
	height: 182px;
	margin-left: 565px;
	top: 1794px;
	background-image: url("../img/snow-tree-1.png");
}

.b-section-7__background-tree_13 {
	width: 176px;
	height: 288px;
	margin-left: 219px;
	top: 1181px;
	background-image: url("../img/snow-tree-2.png");
}

.b-section-7__train {
	position: absolute;
	width: 210px;
	height: 1245px;

	top: 0;
	left: 50%;
	margin-left: -47px - 7px;
	background: left top no-repeat url("../img/train.png");
	z-index: 106;
}

.b-section-7__balloon {
	position: absolute;
	left: 50%;
	margin-left: 140px;
	top: 50%;
	background: #fff;
	padding: 35px 35px;
	width: 270px;
	min-height: 50px;
	font-size: 24px;
	line-height: 1.3;
	z-index: 150;

	p {
		margin: 0;
	}
}

.b-section-7__balloon-arrow {
	position: absolute;
	top: 50%;
	left: -18px;
	width: 18px;
	height: 36px;
	margin-top: -36px/2;
}

.b-section-7__balloon_1 {
	top: 15%;
}

.b-section-7__balloon_2 {
	top: 55%;
}

.b-section-7__text {
	margin-right: 75px + @section-text-padding;
}

.b-section-7__text-title {
	font-size: 24px;
	color: #000000;
	line-height: 1.3;
	margin-bottom: 26px;
}

.b-section-7__text-text, .b-section-7__text-text p {
	font-family: @font-family-helvetica-light;
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px;
}

.b-section-7__title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 103;
}

/* Section 8 */
.b-section-8__container {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: left top repeat url("../img/warehouse-pattern.png");

	& > .container-fluid, .row, [class^="col-"] {
		height: 100%;
	}
}

.b-section-8__content {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
}

.b-section-8__background-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.b-section-8__background {
	height: 3000px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	//background: center top repeat-y url("../img/rails-pattern.png");
	z-index: 105;
}

.b-section-8__background-box {
	position: absolute;
	left: 50%;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.b-section-8__background-box_1 {
	width: 309px;
	height: 346px;
	margin-left: -111px;
	top: -30px;
	background-image: url("../img/warehouse-box-1.png");
}

.b-section-8__background-box_2 {
	width: 192px;
	height: 258px;
	margin-left: -420px;
	top: 71px;
	background-image: url("../img/warehouse-box-2.png");
}

.b-section-8__background-box_3 {
	width: 168px;
	height: 186px;
	margin-left: -535px;
	top: 644px;
	background-image: url("../img/warehouse-box-3.png");
}

.b-section-8__background-box_4 {
	width: 192px;
	height: 468px;
	margin-left: 249px;
	top: 35px;
	background-image: url("../img/warehouse-box-4.png");
}

.b-section-8__background-box_5 {
	width: 223px;
	height: 200px;
	margin-left: 345px;
	top: 574px;
	background-image: url("../img/warehouse-box-5.png");
}

.b-section-8__conveyor {
	position: absolute;
	width: 224px;
	height: 636px;
	top: 250px;
	left: 50%;
	margin-left: -70px;
	background: left top no-repeat url("../img/xray-bg.png");
	z-index: 106;
}

.b-section-8__conveyor-box1 {
	position: absolute;
	width: 65px;
	height: 100px;
	top: -37px;
	left: 44px;
	background: left top no-repeat url("../img/xray-box.png");
	z-index: 107;
}

.b-section-8__conveyor-x-ray {
	position: absolute;
	top: 87px;
	left: 0;
	width: 153px;
	height: 319px;
	overflow: hidden;
	z-index: 108;
}

.b-section-8__conveyor-x-ray-box {
	position: absolute;
	top: -87px - 37px;
	left: 44px;
	width: 65px;
	height: 100px;
	background: left top no-repeat url("../img/xray-box2.png");
	z-index: 109;
}

.b-section-8__conveyor-x-ray-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 153px;
	height: 319px;
	background: left top no-repeat url("../img/xray-top.png");
	z-index: 110;
}

.b-section-8__conveyor-x-ray-roof {
	position: absolute;
	top: 28px;
	left: 10px;
	width: 133px;
	height: 123px;
	background: #306493;
	z-index: 111;
}

.b-section-8__balloon-container {
	position: absolute;
	left: 50%;
	margin-left: 143px;
	top: 21%;
	width: 260px;
	z-index: 149;
}

.b-section-8__balloon {
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	padding: 35px 35px;
	width: 260px;
	min-height: 50px;
	font-size: 24px;
	line-height: 1.3;
	z-index: 150;

	p {
		margin: 0;
	}
}

.b-section-8__balloon-arrow {
	position: absolute;
	top: 50%;
	left: -18px;
	width: 18px;
	height: 36px;
	margin-top: -36px/2;
}

.b-section-8__text {
	margin-right: 110px + @section-text-padding;
}

.b-section-8__text-title {
	font-size: 24px;
	color: #000000;
	line-height: 1.3;
	margin-bottom: 26px;
}

.b-section-8__text-text, .b-section-8__text-text p {
	font-family: @font-family-helvetica-light;
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px;
}

.b-section-8__title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 123;
}

/* Section 9 */
.b-section-9__container {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: #fff1e1 left bottom repeat-x url("../img/section-2-background.png");
	background-size: auto 103px;

	& > .container-fluid, .row, [class^="col-"] {
		height: 100%;
	}
}

.b-section-9__content {
	position: relative;
	padding: 0 40px;
	height: @section-height - @section-title-height;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
	z-index: 102;
}

.b-section-9__lamps {
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
}

.b-section-9__lambs_1 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 362px;
	height: 485px;
	margin-left: -362px/2 - 230px*2;

	background: left top repeat url("../img/lamp.png");
}

.b-section-9__lambs_2 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 362px;
	height: 485px;
	margin-left: -362px/2 - 230px*1;

	background: left top repeat url("../img/lamp.png");
}

.b-section-9__lambs_3 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 362px;
	height: 485px;
	margin-left: -362px/2;

	background: left top repeat url("../img/lamp.png");
}

.b-section-9__lambs_4 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 362px;
	height: 485px;
	margin-left: -362px/2 + 230px*1;

	background: left top repeat url("../img/lamp.png");
}

.b-section-9__lambs_5 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 362px;
	height: 485px;
	margin-left: -362px/2 + 230px*2;

	background: left top repeat url("../img/lamp.png");
}

.b-section-9__image {
	position: absolute;
	bottom: 0;
	left: 50%;

	margin-left: -156px;
	width: 761px;
	height: 517px;
	background: left top no-repeat url("../img/section-9-image.png");
}

.b-section-9__balloon {
	position: absolute;
	bottom: 324px;
	left: 50%;
	margin-left: 205px;
	background: #fff;
	padding: 20px 30px;
	width: 300px;
	min-height: 50px;
	font-size: 24px;
	line-height: 1.3;

	p {
		margin: 0;
	}
}

.b-section-9__balloon-arrow {
	position: absolute;
	top: 100%;
	left: 81px;
	width: 63px;
	height: 113px;
}

.b-section-9__text {
	position: absolute;
	//top: 100px;
	top: auto;
	bottom: 50px;
	height: @section-height - @section-title-height - 150px;
	left: 50px;
	right: 50%;
	margin-right: 150px;
	min-width: 200px;
	max-width: 300px;
	//width: 300px;
}

.b-section-9__text-title {
	font-size: 24px;
	color: #000000;
	line-height: 1.3;
	margin-bottom: 26px;
}

.b-section-9__text-text, .b-section-9__text-text p {
	font-family: @font-family-helvetica-light;
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px;
}

.b-section-9__title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 103;
}

/* Section 10 */
.b-section-10__container {
	position: absolute;
	height: @section-height - @section-title-height;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: #fff1e1 left bottom repeat-x url("../img/section-2-background.png");
	background-size: auto 103px;

	& > .container-fluid, .row, [class^="col-"] {
		height: 100%;
	}
}

.b-section-10__content {
	position: relative;
	padding: 0 40px;
	height: @section-height - @section-title-height;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
	z-index: 102;
}

.b-section-10__lamps {
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
}

.b-section-10__lambs_1 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 362px;
	height: 485px;
	margin-left: -362px/2 - 230px*2;

	background: left top repeat url("../img/lamp.png");
}

.b-section-10__lambs_2 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 362px;
	height: 485px;
	margin-left: -362px/2 - 230px*1;

	background: left top repeat url("../img/lamp.png");
}

.b-section-10__lambs_3 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 362px;
	height: 485px;
	margin-left: -362px/2;

	background: left top repeat url("../img/lamp.png");
}

.b-section-10__lambs_4 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 362px;
	height: 485px;
	margin-left: -362px/2 + 230px*1;

	background: left top repeat url("../img/lamp.png");
}

.b-section-10__lambs_5 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 362px;
	height: 485px;
	margin-left: -362px/2 + 230px*2;

	background: left top repeat url("../img/lamp.png");
}

.b-section-10__image {
	position: absolute;
	bottom: 0;
	left: 50%;

	margin-left: -156px;
	width: 607px;
	height: 447px;
	background: left top no-repeat url("../img/section-10-image.png");
}

.b-section-10__man {
	position: absolute;
	bottom: 103px;
	left: 50%;

	margin-left: -380px;
	width: 213px;
	height: 166px;
	background: left top no-repeat url("../img/section-10-man.png");
}

.b-section-10__balloon {
	position: absolute;
	top: -220px;
	left: -53px;
	background: #fff;
	padding: 20px 30px;
	width: 300px;
	min-height: 50px;
	font-size: 24px;
	line-height: 1.3;

	p {
		margin: 0;
	}
}

.b-section-10__balloon-arrow {
	position: absolute;
	top: 100%;
	left: 100px;
	width: 63px;
	height: 113px;
}

.b-section-10__title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 103;
}

/* Section 11 */
.b-section-11__container {
	position: absolute;
	height: @section-11-height - @section-title-height;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: #ffffff;
}

.b-section-11__content {
	position: relative;
	padding: 40px 40px 0;
	height: @section-11-height - @section-title-height;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
	z-index: 102;
}

.b-section-11__title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 103;
	border-bottom: 2px solid #e9e9e9;
}

/* Section 12 */
.b-section-12__container {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: #ffffff;

	& > .container-fluid, .row, [class^="col-"] {
		height: 100%;
	}
}

.b-section-12__content {
	position: relative;
	padding: 50px 40px 0;
	//height: 830px - @section-title-height;
	//min-height: 900px;
	height: 100%;
	width: 100%;
	max-width: 1036px;
	min-width: 1036px;
	margin: 0 auto;
	z-index: 102;
}

.b-section-12__title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 103;
	border-top: 2px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
}

/* Section 13 */
.b-section-13__container {
	position: absolute;
	height: @section-13-height - @section-title-height;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: #ffffff;
}

@section-13-map-height: 265px;

.b-section-13__map {
	position: relative;
	height: @section-13-height - @section-title-height - 30px;
	width: 100%;
	z-index: 102;
}

.b-section-13__title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 103;
	border-top: 2px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
}

/* Section 14 */
.b-section-14__container {
	background: #ffffff;
}

.b-section-14__content {
	position: relative;
	padding: 30px 40px;
	width: 100%;
	max-width: 1036px;
	margin: 0 auto;
	z-index: 102;
}

.b-section-14__title {
	z-index: 103;
	border-top: 2px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
}

.b-section-2__text-link,
.b-section-3__text-link,
.b-section-4__text-link,
.b-section-5__text-link,
.b-section-6__text-link,
.b-section-7__text-link,
.b-section-8__text-link,
.b-section-9__text-link,
.b-section_additional-modal-link,
{
	font-weight: bold;
}

.hidden-skrollr {
	display: block !important;
}

.visible-skrollr {
	display: none !important;
}

.skrollr-mobile {

	.hidden-skrollr {
		display: none !important;
	}

	.visible-skrollr {
		display: block !important;
	}

	.b-section-2__slide-1, .b-section-2__slide-2, .b-section-2__slide-1-content, .b-section-2__slide-2-content {
		position: static;
	}

	.reset-position() {
		position: static;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
	}

	.b-section {
		//position: static;
		top: auto;
	}

	.b-section__title {
		.reset-position();

		height: auto;
		font-size: 43px;
		letter-spacing: 50/1000em;
		line-height: 120%;
		padding: 13px 0;
		border-top: 3px solid #e9e9e9;
		white-space: normal;
	}

	.b-section-1 {
		height: auto;
	}

	.b-section-2,
	.b-section-3,
	.b-section-4,
	.b-section-5,
	.b-section-6,
	.b-section-7,
	.b-section-8,
	.b-section-9,
	.b-section-10,
	.b-section-11,
	.b-section-12,
	.b-section-13,
	.b-section-14,
	{
		height: auto;
		overflow: inherit;
	}

	.b-section-3__slide-1,
	.b-section-3__slide-1-content,
	.b-section-4__container,
	.b-section-5__container,
	.b-section-6__container,
	.b-section-7__container,
	.b-section-8__container,
	.b-section-9__container,
	.b-section-10__container,
	.b-section-11__container,
	.b-section-12__container,
	.b-section-13__container,
	.b-section-14__container,
	{
		position: static;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		//overflow: inherit;
	}
	.b-section-1__content {
		padding: 0 15px;
		//height: 1135px;
	}
	.b-section-3__content {
		height: 623px;
	}
	.b-section-4__content {
		height: 640px;
	}

	.b-section-5__content {
		height: 647px;
	}
	.b-section-6__content {
		height: 1024px;
	}
	.b-section-7__content {
		height: 798px;
	}
	.b-section-8__content {
		height: 932px;
	}
	.b-section-9__content {
		height: 608px;
	}
	.b-section-10__content {
		height: 608px;
	}
	.b-section-11__content {
		//height: 608px;
		height: auto;
	}
	.b-section-12__content {
		height: auto;
		min-width: inherit;
		padding: 50px 30px;
		//height: 608px;
	}
	.b-section-13__content {
		//height: 1058px;
		//height: 576px;
		width: auto;
		height: auto;
		margin-left: -15px;
		margin-right: -15px;
	}
	.b-section-14__content {
	}

	.b-section-4, .b-section-5 {
		overflow: inherit;
	}

	.b-section .container-fluid {
		padding-left: @grid-gutter-width/2;
		padding-right: @grid-gutter-width / 2;
	}

	.b-section-2__text,
	.b-section-3__text,
	.b-section-4__text,
	.b-section-5__text,
	.b-section-6__text,
	.b-section-7__text,
	.b-section-8__text,
	.b-section-9__text,
	{
		.reset-position();
		width: 100%;
		min-width: 0;
		max-width: none;
		height: auto;
		background: #fff;
		padding: 40px 42px 30px;
		margin: 0;
	}

	.b-section-2__text-title,
	.b-section-3__text-title,
	.b-section-4__text-title,
	.b-section-5__text-title,
	.b-section-6__text-title,
	.b-section-7__text-title,
	.b-section-8__text-title,
	.b-section-9__text-title,
	{
		font-size: 43px;
		color: #000;
		line-height: 120%;
		margin-bottom: 28px;
	}

	.b-section-2__text-text,
	.b-section-3__text-text,
	.b-section-4__text-text,
	.b-section-5__text-text,
	.b-section-6__text-text,
	.b-section-7__text-text,
	.b-section-8__text-text,
	.b-section-9__text-text,
	{
		font-size: 24px;
		color: #000;

		p {
			font-size: 24px;
			color: #000;
		}
	}

	.b-section-1__man-1-balloon {
		font-size: 30px;
	}

	.b-section-1__cta-link {
		//font-size: 36px;
	}
	.b-section-1__earth, .b-section-1__man-1, .b-section-1__robot-1 {
		transform: translateX(-170px);
	}
	.b-section-2__image_slide-1, .b-section-2__image_slide-2, .b-section-2__balloon {
		transform: translateX(-150px);
	}

	.b-section-3__image, .b-section-3__balloon, .b-section-3__clock {
		transform: translateX(-150px);
	}

	.b-section-4__background-container, .b-section-4__car, .b-section-4__balloon {
		transform: translateX(-191px);
	}
	.b-section-4__balloon {
		margin-top: -120px;
	}
	.b-section-4__car-roof {
		opacity: 0;
	}
	.b-section-4__background-tree_1 {
		top: 277px;
	}
	.b-section-4__background-tree_7 {
		top: 27px;
	}

	.b-section-5__background-container, .b-section-5__plane, .b-section-5__balloon {
		transform: translateX(-253px);
	}
	.b-section-5__balloon {
		width: 290px;
		margin-left: 240px;
	}
	.b-section-5__plane {
		top: 40px;
	}
	.b-section-5__background {
		top: -1198px;
	}
	.b-section-6__ship, .b-section-6__balloon {
		transform: translateX(-198px);
	}
	.b-section-6__ship {
		top: 76px;
	}

	.b-section-7__background-container, .b-section-7__train, .b-section-7__balloon {
		transform: translateX(-165px);
	}
	.b-section-7__background-tree_7 {
		margin-left: 180px;
		top: 200px;
	}
	.b-section-7__background-tree_8 {
		margin-left: 170px;
		top: 590px;
	}
	.b-section-7__background-tree_1 {
		top: 570px;
		margin-left: 325px;
	}
	.b-section-7__balloon_1 {
		top: 11%;
	}
	.b-section-7__balloon_2 {
		top: 60%;
	}

	.b-section-8__conveyor, .b-section-8__background, .b-section-8__balloon {
		transform: translateX(-158px);
	}
	.b-section-8__balloon-container {
		top: 47%;
	}
	.b-section-8__conveyor {
		top: 289px;
	}

	.b-section-9__image, .b-section-9__lamps, .b-section-9__balloon {
		transform: translateX(-150px);
	}
	.b-section-9__balloon {
		width: 275px;
	}
	.b-section-10__image, .b-section-10__man, .b-section-10__lamps {
		transform: translateX(145px);
	}
}