.b-documents {
	font-family: @font-family-helvetica-light;
	color: #000;
	font-size: 18px;
	margin-bottom: 50px;
	margin-top: 18px;
}

.b-documents__item {
	line-height: 30px;
	margin-bottom: 12px;
	padding-left: 36px;
}

.b-documents__item_icon-doc {
	background: left top no-repeat url("../img/document-icons/icon-doc.png");
}

.b-documents__item_icon-xls {
	background: left top no-repeat url("../img/document-icons/icon-xls.png");
}

.b-documents__item_icon-ppt {
	background: left top no-repeat url("../img/document-icons/icon-ppt.png");
}

.b-documents__item_icon-pdf {
	background: left top no-repeat url("../img/document-icons/icon-pdf.png");
}

.b-documents__item_icon-img {
	background: left top no-repeat url("../img/document-icons/icon-img.png");
}

.b-documents__item-link {
	text-decoration: none !important;
	border-bottom: 1px dashed #000000;
	color: #000 !important;

	&:hover {
		text-decoration: none;
		border-bottom: none;
	}
}

.b-documents .b-documents {
	margin-left: 5px;

	.b-documents__item {
		line-height: 25px;
		margin-bottom: 12px;

		background-size: 25px;

	}
	.b-documents__item-link {
		line-height: 25px;
		font-size: 14px;
	}
}