/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
	width: 1367px;
	max-width: none !important;
}

.mycontainer {
	max-width: 1367px;
	width: 100%;
	margin: 0;
}

html, body {
	//width: 100%;
	//height: 100%;
	//padding: 0;
	//margin: 0;
	//overflow: auto !important;
	//overflow-x: hidden;
}

.b-section.skrollable {
	position: fixed;
}

.skrollable {
	position: fixed;
	z-index: 100;
}

.skrollr-mobile .skrollable {
	/*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
	//position: relative !important;
}

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position: absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	//position: static;
}

/* Always float the navbar header */
.navbar-header {
	float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
	visibility: visible !important;
}

.navbar-toggle {
	display: none;
}

.navbar-collapse {
	border-top: 0;
}

.navbar-brand {
	margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
	float: left;
	margin: 0;
}

.navbar-nav > li {
	float: left;
}

.navbar-nav > li > a {
	padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
	float: right;
}

body {
}

/**
* Generate .g-mt10, .g-mt-20, .g-mb10 classes
*/
@iterations: 6;

.margin-top-loop (@i) when (@i > 0) {
	.g-mt@{i}0 {
		margin-top: @i * 10px !important;
	}

	.margin-top-loop(@i - 1);
}

.margin-top-loop(@iterations);

.margin-bottom-loop (@i) when (@i > 0) {
	.g-mb@{i}0 {
		margin-bottom: @i * 10px !important;
	}

	.margin-bottom-loop(@i - 1);
}

.margin-bottom-loop(@iterations);

.super-transition() {
	-webkit-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-moz-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-o-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-moz-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-o-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985); /* custom */
}