.b-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	//height: 522px;
	width: 263px;
	z-index: 500;

	&:before {
		content: '';
		position: absolute;
		top: 4px;
		left: -15px;
		right: 0;
		bottom: -11px;
		background: rgba(0, 0, 0, .26);
		transform: skewY(-3deg);
	}
}

.b-sidebar__content {
	position: relative;
	//top: 0;
	//left: 0;
	//width: 100%;
	//height: 100%;
	display: inline-block;
	background: #fff;
	padding: 0 10px 30px 10px;
}

.b-sidebar__phone {
	font-family: @font-family-helvetica-light;
	font-size: 24px;
	text-align: right;
	margin: 15px 28px 15px 0;
}

.b-sidebar__anchors {
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 20px;
}

.b-sidebar__anchors-item {
	padding-bottom: 4px;
	padding-top: 4px;
	list-style-type: none;
	position: relative;

	/* Default pattern */
	&:not(.b-sidebar__anchors-item_no-bg):before {
		position: absolute;
		top: 0;
		height: 100%;
		left: -38px;
		width: 38px;
		background: center top repeat-y url("../img/sidebar-anchors/pattern-1.png");
		content: '';
	}

	/* Dot */
	&:after {
		position: absolute;
		width: 6px;
		height: 6px;

		top: 8px;

		left: -38px/2 - 6px/2;
		background: #3dbc93;
		border-radius: 50%;

		content: '';
	}

	&.b-sidebar__anchors-item_no-bg:after {
		background: transparent;
	}

	/* Remove top and bottom pattern */
	&:first-child:before {
		top: 50%;
		height: 50%;
	}
	&:last-child:before {
		height: 50%;
	}

	/* Make top and bottom dot bigger than other */
	&:first-child:after, &:last-child:after {
		width: 8px;
		height: 8px;
		top: 6px;
		left: -38px/2 - 6px/2 - 1px;
	}
	&:last-child:after {
		top: 8px;
	}

	/* Link style */
	& > a {
		color: #fff;
	}
}

.b-sidebar__anchors-item_bold {
	font-family: @font-family-helvetica-roman;
}

//.b-sidebar__anchors-item_no-bg {
//	&:before, &:after {
//		display: none !important;
//	}
//}

.b-sidebar__anchors-item_active:not(.b-sidebar__anchors-item_no-active) {
	&:after, &:first-child:after, &:last-child:after {
		width: 24px;
		height: 24px;
		top: -1px;
		left: -38px/2 - 6px/2 - 9px;
		background: center center no-repeat url("../img/sidebar-anchors/active-1.png");
	}
	&:first-child:after {
		top: -2px;
	}
	&:last-child:after {
		top: 0;
	}
}

.b-sidebar__anchors-item_active.b-sidebar__anchors-item_custom-active-1 {
	&:after, &:first-child:after, &:last-child:after {
		background: center center no-repeat url("../img/sidebar-anchors/active-custom-1.png");
	}
}

.b-sidebar__anchors-item_active.b-sidebar__anchors-item_custom-active-2 {
	&:after, &:first-child:after, &:last-child:after {
		background: center center no-repeat url("../img/sidebar-anchors/active-custom-2.png");
	}
}

.b-sidebar__anchors-item_active.b-sidebar__anchors-item_custom-active-3 {
	&:after, &:first-child:after, &:last-child:after {
		background: center center no-repeat url("../img/sidebar-anchors/active-custom-3.png");
	}
}

.b-sidebar__tracking-link {
	padding-left: 30px;
	margin-left: 10px;
	line-height: 24px;
	font-size: 16px;
	font-family: @font-family-helvetica-roman;
	background: left top no-repeat url("../img/tracking-icon.png");
	display: inline-block;

	&:hover, &:active, &:focus {
		color: #fff;
	}
}

.b-sidebar_style1 {
	.b-sidebar__phone, .b-sidebar__anchors-item > a, .b-sidebar__menu-item > a, .b-sidebar__tracking-link {
		color: #fff;
	}
}

.b-sidebar_style2 {
	.b-sidebar__phone {
		color: #010101;
	}
	.b-sidebar__anchors-item > a, .b-sidebar__menu-item > a, .b-sidebar__tracking-link {
		color: #013b9e;
	}
}

.b-sidebar_style3 {
	.b-sidebar__phone {
		color: #ffffff;
	}
	.b-sidebar__anchors-item > a, .b-sidebar__menu-item > a, .b-sidebar__tracking-link {
		color: #ffffff;
	}

	.b-sidebar__anchors-item {
		&:before {
			background-image: url("../img/sidebar-anchors/pattern-2.png");
		}
		&:after {
			background: #fff;
		}
	}

	.b-sidebar__anchors-item_active {
		&:after, &:first-child:after, &:last-child:after {
			background-image: url("../img/sidebar-anchors/active-2.png");
		}
	}

	.b-sidebar__tracking-link {
		background-image: url("../img/tracking-icon2.png");
	}
}

.b-sidebar__open, .b-sidebar__close {
	display: none;
}

.skrollr-mobile {

	.b-page {
		position: relative;
	}

	.b-sidebar {
		width: 42px;
		height: 35px;

		top: 20px;
		right: 28px;
		position: absolute;
		//width: 100%;
		//height: 100%;
		//display: none;
		overflow: auto;

		&.b-sidebar_opened {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			right: auto;

			.b-sidebar__content {
				display: block;
			}
		}

		&:before {
			display: none !important;
		}
	}

	.b-sidebar__content {
		padding: 55px 20px 45px 40px;
		display: none;
		min-height: 100vh;
	}

	.b-sidebar__close {
		position: absolute;
		top: 20px;
		right: 20px;
		background: left top no-repeat url("../img/sidebar-close.png");
		width: 52px;
		height: 52px;
		display: inline-block;
	}

	.b-sidebar__open {
		width: 42px;
		height: 35px;
		background: left top no-repeat url("../img/sidebar-open.png");
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}

	.b-sidebar__phone {
		display: none;
	}

	.b-sidebar__anchors {
		font-size: 36px;
		line-height: 40px;
		padding-left: 70px;

		margin-bottom: 60px;
	}

	@sidebar-left-center: -62px;

	.b-sidebar__anchors-item {
		padding-top: 12px;
		padding-bottom: 12px;

		/* Default pattern */
		&:not(.b-sidebar__anchors-item_no-bg):before {
			content: '';
			left: @sidebar-left-center - 4px/2;
			width: 4px;
			background-image: linear-gradient(45deg, #3dbc93 25%, transparent 25%),
			linear-gradient(-45deg, #3dbc93 25%, transparent 25%),
			linear-gradient(45deg, transparent 75%, #3dbc93 75%),
			linear-gradient(-45deg, transparent 75%, #3dbc93 75%);
			background-size: 8px 8px;
			background-position: 0 0, 4px 0, 4px -4px, 0px 4px;
		}

		/* Dot */
		&:after {
			position: absolute;
			width: 15px;
			height: 15px;

			top: 26px;
			left: -69px;
		}

		/* Make top and bottom dot bigger than other */
		&:first-child:after, &:last-child:after {
			width: 20px;
			height: 20px;
			top: 22px;
			left: @sidebar-left-center - 20px/2;

		}
	}

	.b-sidebar__anchors-item_active:not(.b-sidebar__anchors-item_no-active) {
		&:after, &:first-child:after, &:last-child:after {
			width: 64px;
			height: 64px;
			top: 2px;
			left: @sidebar-left-center - 64px/2;
			background: center center no-repeat url("../img/sidebar-anchors/active-1.svg");
		}
		&:first-child:after {
			top: 0;
		}
		&:last-child:after {
			top: 2px;
		}
	}

	.b-sidebar__tracking-link {
		padding-left: 90px;
		margin-left: -20px;
		line-height: 64px;
		font-size: 36px;
		background: left top no-repeat url("../img/tracking-icon.svg");
		display: inline-block;
	}
}
