.g-loader {
	opacity: 0;
	visibility: hidden;
}

.g-loading {
	animation-name: animation1;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 0.6s;

	@keyframes animation1 {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 0;
			transform: translateY(-35px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

//@iterations: 9;
//
//.loader-duration-loop (@i) when (@i > 0) {
//	.g-loading__duration-@{i} {
//		animation-duration: @i / 10s !important;
//	}
//
//	.loader-duration-loop(@i - 1);
//}
//
//.loader-duration-loop(@iterations);

@iterations: 9;

.loader-step-loop (@i) when (@i >= 0) {
	.g-loader__step-@{i}.g-loading {
		@time: 0.35s;
		@total: @time * 2 + (@i - 1) * @time * 0.7;
		@percentage: (1 - @time / @total) * 100%;
		@name: "animation_step_@{i}";
		animation-name: @name;
		animation-duration: @total;

		@keyframes @name {
			0% {
				opacity: 0;
			}
			@{percentage} {
				opacity: 0;
				transform: translateY(-35px);
			}
			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	.loader-step-loop(@i - 1);
}

.loader-step-loop(@iterations);
