.b-text {
	font-family: @font-family-helvetica-light;
	font-size: 16px;

	h1, h2 {
		font-family: @font-family-helvetica-thin;
	}
	h3, h4, h5, h6 {
		font-family: @font-family-helvetica-roman;
	}

	table {
		font-size: 14px;
		font-family: @font-family-helvetica-light;
		line-height: 1.3;

		& > thead > tr > td, & > thead > tr > th {
			background: #013b9e;
			font-family: @font-family-helvetica-thin;
			font-size: 18px;
			font-weight: normal;
			color: #fff;
			padding: 18px/2 16px;
			border-right: 2px solid #ffffff;

			&:last-child {
				border-right: none;
			}
		}

		& > tbody > tr, tr {
			& > td {
				padding: 8px 10px;
			}
			&:nth-child(odd) > td {
				background: #fff;
				border-right: 2px solid #e9e9e9;

				&:last-child {
					border-right: none;
				}
			}
			&:nth-child(even) > td {
				background: #e9e9e9;
				border-right: 2px solid #fff;

				&:last-child {
					border-right: none;
				}
			}
		}
	}
}

.b-text_modal {

	padding-left: 10px;
	padding-right: 10px;
	font-family: @font-family-helvetica-thin;
	font-weight: 500;

	h1, h2, h3 {
		margin-top: 10px;
		margin-bottom: 30px;
	}
	h2 {
		font-size: 34px;
	}

	font-size: 18px;

	p {
		margin-top: 10px;
		margin-bottom: 15px;
	}
}