.b-copyright {
	color: #000;
	z-index: 1000;
	font-family: @font-family-helvetica-light;
	line-height: 30px;
}

.b-copyright_position_bottomright {
	//position: absolute;
	//bottom: 7px;
	//right: 230px;
	text-align: right;
	padding-right: 15px;
}

.b-copyright__link {
	color: #000;
	font-size: 14px;
	//letter-spacing: 0.01em;
	//text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

	&:hover, &:active, &:focus {
		color: #000;
	}
}